@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

.product__layout__home__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 0 0;
  height: 100%;
}

.product__layout__home__left__drawer__content {
  /* overflow-y: scroll; */
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.product__layout__home__left__drawer__content > p {
  color: black;
  font-size: 18px;
  padding: 10px;
}

.product__layout__home__left__drawer__content > a {
  padding: 10px;
  color: #447e9b;
}

.product__layout__home__left__drawer__content > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product__layout__home__left__drawer__content > a:nth-of-type(2n) {
  background-color: #f6f6f6;
}

.product__layout__home__left__drawer {
  width: 15%;
  border-right: 0.5px solid #ececec;
}

.product__layout__home__right__drawer {
  width: 82%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details__box__wrapper {
  margin: 20px auto;
}

.product__layout__home__left__drawer__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  margin: 0px 0px 0px 0px;
}

.product__layout__home__left__drawer__item > p {
  width: 100%;
  padding: 0px 0px 0px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
}

.product__layout__home__left__drawer__item > h2 {
  padding: 20px 0px 20px 20px;
  font-size: 20px;
  color: white;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  width: 100%;
  background-color: #1976d2;
  z-index: 2000;
}

.product__layout__home__left__drawer__item > p:hover {
  background-color: #1976d2;
  cursor: pointer;
  color: white;
}

.css-cpgvjg-MuiSnackbar-root {
  left: 0 !important;
  right: 0 !important;
  width: 30% !important;
  margin: auto;
}
