@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

.product__layout__home__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 0 0;
}

.product__layout__home__left__drawer__content {
  overflow-y: scroll;
  max-height: 100vh;
}

.product__layout__home__left__drawer {
  width: 15%;
  border-right: 0.5px solid #ececec;
  min-height: 100vh;
  max-height: 100vh;
}

.product__layout__home__right__drawer {
  width: 82%;
}

.details__box__wrapper {
  margin: 20px auto;
}
